doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/drawboard.css')
    link(rel='stylesheet', href='/stylesheets/offline.css')
    link(rel='stylesheet', href='/stylesheets/offline-language-english.css')
    script(type='text/javascript' src='/javascripts/drawboard.js')
    script(type='text/javascript' src='/javascripts/drawboard-init.js')
    script(type='text/javascript' src='/javascripts/offline.js')
  body(onload="init()")
    h1 DrawingOnline
    input(min="1" max="10" value="3" type="range" oninput="strokeSliderChanged()")#strokeslider
    #strokeoutput
    canvas#draw_canvas