doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/drawboard.css')
    script(type='text/javascript' src='/javascripts/drawboard.js')
    script(type='text/javascript' src='/javascripts/drawboard-init.js')
  body(onload="init()")
    p testttt
    canvas#draw_canvas